a{
    text-decoration: none;
}

.navbar{
    border-top:1px solid #5C6168;
    border-bottom: 2px dashed #5C6168;
    margin-left: -12px;
}
.nav__bar-top-link{
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-size: 22px;
    padding: 20px 47px;
    border: 1px solid  #E1B168;
}
.img{
    color: white;
}
.btn-warning{
    padding: 20px 80px;
}
.btn-box{
    border: 2px solid #E1B168;
    border-radius: 0px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.44px;
    color: #E1B168;
    text-align: center;
    font-family: 'Josefin Sans';
}
.btn-box:hover{
    background: #E1B168;
border: 2px solid #E1B168;
border-radius: 0px;
color: white;
}

.nav-link{
    font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.2px;
color: #FFFFFF;
margin-left: 60px;
}
.nav-link:hover{
    color: #E1B168;
}

.nav-link:focus{
  color: #E1B168;

}
.active1{
color: #E1B168 !important;
}
.icon i{
    padding: 20px;
    color: #FFFFFF;
}
.icon i:hover{
    color: #E1B168;
}
/*About */
.about_title{
    font-family: 'Cormorant Infant';
    font-weight: 200;
font-size: 90px;
line-height: 110px;
font-style: normal;
letter-spacing: 0.2px;
color: #FFFFFF;
}
.about_text{
    
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */
letter-spacing: 0.2px;
color: #FFFFFF;
}
.img-border img{
    border: 10px  solid #E1B168;
}

.icon-about{
    background: #292E36;
    margin-top: 50px;
    border-radius: 100px;
}
.col-lg-6{
}
.about-bottom>h3{
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #292E36;
}
.about-bottom>p{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #555555;
}
.about-bottom-2 h3{
    
font-family: 'Cormorant Infant';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 56px;
letter-spacing: 0.2px;
color: #292E36;
}
.about-bottom-2 p{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.2px;
color: #555555;
}
.about-bottom-2 h4{
    
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

letter-spacing: 0.2px;

color: #555555;

}