a{
    text-decoration: none;
}

.navbar{
    border-top:1px solid black;
    border-bottom: 1px dashed black;
}
.nav__bar-top-link{
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    font-size: 22px;
    padding: 20px 47px;
    border: 1px solid  #E1B168;
}
.img{
    color: white;
}
.btn-warning{
    background: #E1B168;
    border: 2px solid #E1B168;
    border-radius: 0px;
    box-sizing: border-box;
    padding: 20px 80px;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.44px;
    color: #292E36;
}